.Rproj.user
.Rhistory
.RData
.Ruserdata
Project Description-687.pdf
data_dictionary.csv
energyData (1).csv
energyData.csv
static_house_info.parquet
static_house_info1.csv
weatherData.csv
weatherES.csv
finalReport.html
finalReport.Rmd
finalReport.pdf
IST687-Group2-FinalProject-Report.docx
ss.pdf
ss.Rmd
~$T687-Group2-FinalProject-Report.docx
weatherESTest.csv
weatherESTestPred.csv
static_house_info_TJ.csv
static_house_infoChrish.csv
dataAnalysis.Rmd
aggEnergy.csv
dayWeather.csv
houseWeather.csv
weatherESTest.csv
weekDWeather.csv
weekWeather.csv
weatherESTest.csv